body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:704px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:538px;
  width:1460px;
  height:704px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:704px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:1220px;
  width:1460px;
  height:704px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:709px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:1920px;
  width:1460px;
  height:709px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:704px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:2620px;
  width:1460px;
  height:704px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:704px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:3300px;
  width:1460px;
  height:704px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:682px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:538px;
  width:726px;
  height:682px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1576px;
  width:571px;
  height:72px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  white-space:nowrap;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:2240px;
  width:544px;
  height:72px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:2904px;
  width:520px;
  height:72px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:3568px;
  width:633px;
  height:72px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  white-space:nowrap;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:738px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:3970px;
  width:1460px;
  height:738px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:4303px;
  width:817px;
  height:72px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:72px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  white-space:nowrap;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:190px;
  width:68px;
  height:6px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:33px;
  top:715px;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:537px;
  height:203px;
  background-image:none;
}
#u56_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#797979;
  line-height:52px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:104px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#797979;
  line-height:52px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
  line-height:28px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:461px;
  height:56px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
  line-height:28px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1750px;
  width:229px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u61_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u61.mouseOver {
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1764px;
  width:23px;
  height:23px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:66px;
  width:39px;
  height:17px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:66px;
  width:59px;
  height:17px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:66px;
  width:55px;
  height:17px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:66px;
  width:50px;
  height:17px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:66px;
  width:53px;
  height:17px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#797979;
  line-height:72px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:206px;
  width:638px;
  height:144px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#797979;
  line-height:72px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  white-space:nowrap;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:604px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:1px;
  height:603px;
  opacity:0.200000002980232;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:599px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:-60px;
  width:1px;
  height:598px;
  opacity:0.200000002980232;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:593px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:-54px;
  width:1px;
  height:592px;
  opacity:0.200000002980232;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:604px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:-65px;
  width:1px;
  height:603px;
  opacity:0.200000002980232;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:599px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:-60px;
  width:1px;
  height:598px;
  opacity:0.200000002980232;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:593px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:-54px;
  width:1px;
  height:592px;
  opacity:0.200000002980232;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:45px;
  width:120px;
  height:60px;
  color:#FFFFFF;
  text-align:left;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:23px;
  color:#BCBCBC;
  line-height:35px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:390px;
  width:552px;
  height:70px;
  font-family:'Circular Std Medium Regular', 'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:23px;
  color:#BCBCBC;
  line-height:35px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:61px;
  width:94px;
  height:28px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  font-family:'Circular Std Medium';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
}
#u81_input {
  font-family:'Circular Std Medium';
}
#u81_input:disabled {
  color:grayText;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:2427px;
  width:229px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u83_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u83.mouseOver {
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:2441px;
  width:23px;
  height:23px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:3117px;
  width:229px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u86_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u86.mouseOver {
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:3131px;
  width:23px;
  height:23px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:3783px;
  width:229px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u89_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u89.mouseOver {
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:3797px;
  width:23px;
  height:23px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:4560px;
  width:229px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u92_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u92.mouseOver {
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:4574px;
  width:23px;
  height:23px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
